<body>
  <nav>
    <ul>
      <li><a routerLink="/dashboard">Home</a></li>
      <li><a href="#0">Placeholder</a></li>
      <li>
        <a href="#0">Agents</a>
        <ul>
          <li><a href="#0">Laura</a></li>
          <li><a href="#0">Walker</a></li>
          <li><a href="#0">McKenna</a></li>
        </ul>
      </li>
      <li>
        <a href="#0">Customers</a>
        <ul>
          <li ><a routerLink="/add-customer">Add Customer</a></li>
          <li><a routerLink="/you-customers">Your Customers</a></li>
          <li><a routerLink="/available-customers">Available Customers</a></li>
          <!-- <li><a href="#0">PH</a></li> -->
        </ul>
      </li>
      <div class="auth">
        <hr />

        @if(!isAuthenticated) {
        <li><a routerLink="/login">Login</a></li>
        } @if(!isAuthenticated){
        <li>
          <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active"
            >Signup</a
          >
        </li>
        } @if(isAuthenticated){
        <li><a (click)="onLogout()">Logout</a></li>
        } @if(isAuthenticated){
        <li routerLink="/account"><a>Account</a></li>
        }
      </div>
    </ul>
  </nav>
</body>
