<body>
  <nav>
    <ul>
      <li><a href="#0">Home</a></li>
      <li><a href="#0">Placeholder</a></li>
      <li>
        <a href="#0">Agents</a>
        <ul>
          <li><a href="#0">Laura</a></li>
          <li><a href="#0">Walker</a></li>
          <li><a href="#0">McKenna</a></li>
        </ul>
      </li>
      <li>
        <a href="#0">Customers</a>
        <ul>
          <li><a href="#0">Add Customer</a></li>
          <li><a href="#0">Your Customers</a></li>
          <li><a href="#0">Available Customers</a></li>
          <!-- <li><a href="#0">PH</a></li> -->
        </ul>
      </li>
      <div class="auth">
        <hr />

        <li *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
        <li>
          <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active"
            >Signup</a
          >
        </li>
        <li *ngIf="isAuthenticated"><a (click)="onLogout()">Logout</a></li>
        <li *ngIf="isAuthenticated"><a>Account</a></li>
      </div>
    </ul>
  </nav>
</body>
