<body>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <div class="body">
    <div class="container">
      <input type="checkbox" id="flip" />
      <div class="cover">
        <div class="front">
          <img src="\assets\photos\Signup.jpg" alt="Signup Art" />
          <div class="text">
            <span class="text-1">Helping Agents</span><br>
            <span class="text-1">Help Customers</span><br>
            <span class="text-2">Join Us!</span>
          </div>
        </div>
        <div class="back">

          <div class="text">
            <span class="text-1"
              >Complete miles of journey<br />with one step</span
            >
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-content">
          <div class="signup-form">
            <div class="title">Agent Signup</div>

            <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
              <div class="input-boxes">
                <div class="agent-info" formGroupName="agent">
                  <div class="input-box">
                    <i class="fas fa-user"></i>

                    <input
                      type="text"
                      placeholder="Enter your first name"
                      formControlName="first_name"
                    />

                    <span
                      *ngIf="
                        !signupForm.get('agent.first_name')?.valid &&
                        signupForm.get('agent.first_name')?.touched
                      "
                      class="help-block"
                      >Enter a first name</span
                    >
                  </div>
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input
                      type="text"
                      placeholder="Enter your last name"
                      formControlName="last_name"
                    />
                    <span
                      *ngIf="
                        !signupForm.get('agent.last_name')?.valid &&
                        signupForm.get('agent.last_name')?.touched
                      "
                      class="help-block"
                      >Enter a last name</span
                    >
                  </div>
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input
                      type="text"
                      placeholder="Enter your national producer #"
                      formControlName="npn"
                    />
                    <span
                      *ngIf="
                        !signupForm.get('agent.npn')?.value &&
                        signupForm.get('agent.npn')?.touched &&
                        signupForm.get('agent.npn')?.pristine
                      "
                      class="help-block"
                      >Enter NPN</span
                    >
                    <span
                      *ngIf="
                        signupForm.get('agent.npn')?.value &&
                        signupForm.get('agent.npn')?.value.length !== 8 &&
                        signupForm.get('agent.npn')?.dirty &&
                        signupForm.get('agent.npn')?.touched
                      "
                      class="help-block"
                    >
                      Must be 8 characters long
                    </span>
                  </div>
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <select formControlName="state" class="state-select">
                      <option value="">Select your state</option>
                      <option
                        *ngFor="let abbreviation of states"
                        [value]="abbreviation"
                      >
                        {{ abbreviation }}
                      </option>
                    </select>
                    <span
                      *ngIf="
                        !signupForm.get('agent.state')?.valid &&
                        signupForm.get('agent.state')?.touched
                      "
                      class="help-block"
                      >select a state</span
                    >
                  </div>
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input
                      type="text"
                      placeholder="Enter your phone #"
                      formControlName="phone"
                    />
                    <span
                      *ngIf="
                        !signupForm.get('agent.phone')?.valid &&
                        signupForm.get('agent.phone')?.touched
                      "
                      class="help-block"
                      >Enter your phone</span
                    >
                  </div>
                </div>
                <div class="agent-info" formGroupName="user">
                  <div class="input-box">
                    <i class="fas fa-envelope"></i>
                    <input
                      type="text"
                      placeholder="Enter your email"
                      formControlName="email"
                    />
                    <span
                      *ngIf="
                        !signupForm.get('user.email')?.valid &&
                        signupForm.get('user.email')?.touched
                      "
                      class="help-block"
                      >Enter your email</span
                    >
                  </div>
                  <div class="user-info">
                    <div class="input-box">
                      <i class="fas fa-lock"></i>
                      <input
                        type="password"
                        placeholder="Enter your password"
                        formControlName="password"
                      />
                      <div
                        *ngIf="signupForm.get('user.password')?.touched"
                        class="error-messages"
                      >
                        <span
                          *ngIf="signupForm.get('user.password')?.value === ''"
                          class="help-block"
                        >
                          Enter a password
                        </span>
                        <span
                          *ngIf="
                            signupForm.get('user.password')?.value.length < 6 &&
                            signupForm.get('user.password')?.value !== ''
                          "
                          class="help-block"
                        >
                          Password must be at least 6 characters long
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input
                      type="password"
                      placeholder="Re-enter your password"
                      formControlName="password_confirmation"
                    />
                    <span
                      *ngIf="
                        !signupForm.get('user.password_confirmation')?.valid &&
                        signupForm.get('user.password_confirmation')?.touched
                      "
                      class="help-block"
                    >
                      Confirm your password
                    </span>

                    <span
                      *ngIf="
                        signupForm.get('user.password')?.value !==
                          signupForm.get('user.password_confirmation')?.value &&
                        signupForm.get('user.password_confirmation')?.touched
                      "
                      class="help-block"
                    >
                      Passwords must match!
                    </span>
                  </div>
                </div>
              </div>
              <div *ngIf="userValidationErrors" class="error-message">
                {{ userValidationErrors }}
              </div>

              <!-- Display agent validation errors -->
              <div *ngIf="agentValidationErrors" class="error-message">
                {{ agentValidationErrors }}
              </div>
              @if (signupForm.valid) {
              <div class="button input-box">
                <input
                  [disabled]="!signupForm.valid"
                  type="submit"
                  value="Submit"
                />
              </div>
              }

              <div class="text sign-up-text">
                Already have an account?
                <label
                  for="flip"
                  [routerLink]="['/login']"
                  routerLinkActive="router-link-active"
                  >Login now</label
                >
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="login-form">
  <div class="title">Login</div>
  <form action="#">
    <div class="input-boxes">
      <div class="input-box">
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Enter your email"/>
      </div>
      <div class="input-box">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="text"><a href="#">Forgot password?</a></div>
      <div class="button input-box">
        <input type="submit" value="Submit" />
      </div>
      <div class="text sign-up-text">
        Don't have an account? <label for="flip">Signup now</label>
      </div>
    </div>
  </form>
</div> -->
</body>
