<body>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <div class="body">
    <div class="container">
      <input type="checkbox" id="flip" />
      <div class="cover">
        <div class="front">
          <img src="\assets\photos\Signup.jpg" alt="Signup Art" />
          <div class="text">
            <span class="text-1">Enter Policy Info<br />More</span>
            <span class="text-2">Join us</span>
          </div>
        </div>
        <div class="back">
          <div class="text">
            <span class="text-1"
              >Complete miles of journey<br />with one step</span
            >
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-content">
          <div class="signup-form">
            <div class="title">Add Policy</div>
            <form [formGroup]="policyForm" (ngSubmit)="onAddPolicy()">
              <div class="input-boxes">
                <div class="policy-info">
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <select formControlName="policy_type" class="type-select">
                      <option value="">Primary Policy Type</option>
                      <option>Auto</option>
                      <option>Home</option>
                      <option>Life</option>
                      <option>Other</option>
                    </select>
                    <span
                      *ngIf="
                        policyForm.get('policy_type')?.errors&&
                        policyForm.get('policy_type')?.touched
                      "
                      class="help-block"
                      >Select a type</span
                    >
                  </div>
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input
                      type="date"
                      placeholder="Enter Expiration Date"
                      formControlName="exp_date"
                    />
                    <span
                      *ngIf="
                        policyForm.get('exp_date')?.errors&&
                        policyForm.get('exp_date')?.touched
                      "
                      class="help-block"
                      >Enter an Expiration Date</span
                    >
                  </div>
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <select formControlName="term_length">
                      <option value="">Select Term Length</option>
                      <option value="6">6 months</option>
                      <option value="12">12 months</option>
                    </select>

                    <span
                      *ngIf="
                        policyForm.get('term_length')?.errors&&
                        policyForm.get('term_length')?.touched &&
                        policyForm.get('term_length')?.pristine
                      "
                      class="help-block"
                      >Enter Term Length</span
                    >
                  </div>
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input
                    type="text"
                    placeholder="Enter Premium Amount"
                    formControlName="premium_amount"
                    (input)="formatCurrency($event)"
                    />
                    <span
                      *ngIf="
                        policyForm.get('premium_amount')?.errors&&
                        policyForm.get('premium_amount')?.touched
                      "
                      class="help-block"
                      >Enter Premium Amount</span
                    >
                    <span>{{ premiumAmount | currency:'USD':'symbol':'1.2-2' }}</span>
                  </div>
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input
                      type="text"
                      placeholder="Insurance Company ID"
                      formControlName="insurance_company_id"
                    />
                    <span
                      *ngIf="
                        policyForm.get('insurance_company_id')?.errors&&
                        policyForm.get('insurance_company_id')?.touched
                      "
                      class="help-block"
                      >Enter Company ID</span
                    >
                  </div>
                </div>
              </div>
              <div class="button input-box">
                <input
                  [disabled]="!policyForm.valid"
                  type="submit"
                  value="Submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
