p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.body {
  background: -webkit-linear-gradient(left, #4c3bec, #fdfdfd);
  display: flex;
  flex-direction: column;
}
